<!-- row mt-1 -->
<div class="row mt-1">
    <div class="col">
        <h4 class="display-3 float-right mb-2">Twoje Playlisty</h4>
    </div>
</div>
<!-- /row mt-1 -->

<!-- row mt-1 -->
<div class="row mt-1">
    <div class="col">
        <content-card>
            <router-outlet></router-outlet>
        </content-card>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="col">
        <playlist-list></playlist-list>

        <div class="form-group">
            <button class="btn btn-success float-right" [routerLink]="['new']">Nowa Playlista</button>
        </div>
    </div>
    <!-- /col -->
</div>
<!-- /row mt-1 -->


