<!-- playlist_form -->
<div class="playlist_form" *ngIf="playlist">
    <form #formRef = "ngForm" novalidate = "true" (ngSubmit) = "save(formRef.valid, playlist)">
        <div class="form-group">
            <label>Nazwa:</label>
            <input type="text" #nameRef = "ngModel" required minlength="3" name = "name" [(ngModel)]="playlist.name" class="form-control">
            <div class = "has-danger" *ngIf="nameRef.touched || nameRef.dirty">
                <div class = "form-control-feedback" *ngIf="nameRef.errors?.required">To pole jest wymagane.</div>
                <div class = "form-control-feedback" *ngIf="nameRef.errors?.minlength">To pole musi mieć przynajmniej {{ nameRef.errors.minlength.requiredLength }} znaków.</div>
            </div>
        </div>

        <div class="form-group">
            <label>Opis:</label>
            <textarea type="text" #descriptionRef = "ngModel" name = "description" maxlength="200" [(ngModel)]="playlist.description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label>Kolor:</label>
            <input type="color" name = "color" [(ngModel)]="playlist.color">
        </div>

        <div class="form-group">
            <label>Kategoria:</label>
            <select class = "form-control" name = "category" [(ngModel)]="playlist.category">
                <option *ngFor = "let category of categories" [value]="category">{{ category }}</option>
            </select>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" name = "favorite" [(ngModel)]="playlist.favourite"> 
            Ulubiona
            </label>
        </div>

        <div class="form-group">
            <button class="btn btn-success float-right" type = "submit" >Zapisz</button>
        </div>
    </form>
</div>
<!-- /playlist_form -->