<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-3">
    <div class = "container">
        <h3>
            <a class="navbar-brand" routerLink="/">Muzyka z Angular 2</a>
        </h3>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/music" routerLinkActive>
                        Szukaj Muzyki
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/playlist" routerLinkActive>Twoje Playlisty</a>
                </li>
            </ul>
        </div>
    </div>
</nav>