<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <h3>
            <a routerLink="/" class="navbar-brand">Spotify Developer</a>
        </h3>

        <ul class="nav navbar-nav float-xl-right">
            <li class="nav-item" *ngFor="let route of routing;">
                <a
                    class="nav-link"
                    routerLink="{{ route.path }}"
                    routerLinkActive="active">{{ route.name }}</a>
            </li>
        </ul>
    </div>
</nav>
